<!--
Copyright (c) 2018 AT&T Intellectual Property. All rights reserved.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->

<html ng-app="PortalManagement">
   <head>
      <style>
         .form_bg {
         background-color:#eee;
         color:#666;
         padding:20px;
         border-radius:10px;
         position: absolute;
         border:1px solid #fff;
         
         top:0;
         right: 0;
         bottom: 0;
         left: 0;
         
         margin:auto;
         width: 400px;
         height: 320px;
         }
         .form-control{
         width: 320px;
         }
         .align-center {
         text-align:center;
         }
      </style>
   </head>
   <body ng-controller="login">
      <div>
         
         <div class="header" style="width: 100%" style="padding-top:10px; padding-bottom:10px">
            <a href="https://www.akraino.org/">
            <img src="./resources/images/logo_akraino_edge_stack.png" alt="Akraino" width="200" height="40" border="0">
            </a>
            <div class="header-right">
               <a class="active" href="#home">Home</a>
               <a href="#" style="font-color:#FFFFFF">Documentation</a>
               <a href="#" style="font-color:#FFFFFF" ng-show="$state.current.name == 'undefined' || $state.current.name != 'login'" ng-click="goLogout()" >Sign Out</a>
            </div>
         </div>
      </div>
     
      <div class="container">
         <div class="row">
           
             <h2 class="align-center">Sign In  Page</h2>
            <div class="form_bg" style="margin-top:230px;">
               <form>
                  <br/>
                  <div class="form-group">
                     <label style="margin-left: auto;margin-right: auto;padding-left:15px;">{{message}}</label></br></br>
                     <input type="text"  style="margin-left: auto;margin-right: auto;" class="form-control" id="userid" placeholder="User name" ng-model ="usernameVal">
                     <label style="display:block;text-align:center;color:red;">{{ userMessage }}</label>
                  </div>
                  <div class="form-group">
                     <input type="password" style="margin-left: auto;margin-right: auto;" class="form-control" id="pwd" placeholder="Password" ng-model ="passwordVal">
                     <label style="display:block;text-align:center;color:red;">{{ passwordMessage }}</label>
                  </div>
                  <br/>
                  <div class="align-center">
                     <button type="submit" class="btn btn-default" id="login" ng-click="goLogin()">Login</button>
                  </div>
               </form>
            </div>
         </div>
      </div>
   </body>
   <html>
      <!--end log form -->